<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>물건 등록</h1>

    <label for="title">물건 이름</label>
    <input type="text" name="title" id="title"><br><br>

    <label for="content">사진 및 내용</label>
    <textarea name="content" id="content" cols="30" rows="10"></textarea><br><br>

    <button type="submit">저장</button>
</form>
</body>
</html>